:root{
    --dark-color:#2E2F42;
    --text-color: #434455;
    --primary-brand-color: #4D5AE5;
    --white-background-color: #FFFFFF;
    --light-color: #F4F4FD;
    --pressed-state-color: #404BBF;
    --accent-color: #E7E9FC;

}

.page {
    background-color: var(--white-background-color);
    color: var(--text-color);
    font-family: Roboto, sans-serif;

}


.list {
    padding:0;
    margin:0;
    list-style: none;
}

img {
    display: block; 
    max-width: 100%;
    height:auto;

}

.header{
    border-bottom: 1px solid var(--accent-color);
}
.logo-studio {
    color: var(--dark-color);
    
}

.link{
    color: var(--dark-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration:none;

}

.main-info{
    display:flex;
    align-items:center;
}
.logo{
    margin-right: 76px;
    
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration:none;
    color: var(--primary-brand-color);
}

.link:hover, .link:focus, .mail:active, .tell:active{
    color: var(--pressed-state-color)

}

.nav-list, .address{
    display:flex;
}

.nav-list {
    gap: 40px;
}


.nav-list .link{
    display:block;
    padding-top:24px;
    padding-bottom: 24px;
}

.contacts{
    display:flex;
}

.contacts{
    gap: 40px
}


.address{
    font-style: normal;
    margin-left: auto;

}
.address-item {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration:none;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top:0;
    margin-bottom:0;
}

.container {
    margin-left: auto;
    margin-right:auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

.hero{
    background-color: var(--dark-color);
    width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-title{
   margin: 0 auto;
    margin-top:0;
    margin-bottom:48px;
    max-width: 496px;
   

   color: var(--white-background-color);

   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-transform: capitalize;
}


.button{
    display:block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px;


    color: var(--white-background-color);
    background-color: var(--primary-brand-color);
    border: none;


    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor:pointer;

}

.button:hover, .button:focus{
    background-color:var(--pressed-state-color)
}

.features-list{
    display:flex;
    gap: 24px;
    
}

.features-list .item{
    width: calc((100% - 72px) / 4);
}



.features{
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-title{
    color:var(--dark-color);
}

.features-subtitle, .service{
    margin-top:0;
    margin-bottom: 8px;

    color:var(--dark-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-text, .position{
    margin-top:0;
    margin-bottom:0;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}


.pictures{
    padding-bottom: 120px;
}
.section-title{
    margin-bottom: 72px;

    color:var(--dark-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.img-list {
    display:flex;
    gap: 24px;

}


.img-list .item {
    width: calc((100% - 48px) / 3);
}


.team{
    display:flex;
    gap: 24px; 
}

.team .item{
    width: calc((100% - 72px) / 4);
}


.info{
    padding: 32px 16px;
    border-radius: 0px 0px 4px 4px;

}
.members {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--light-color);
    color:var(--dark-color);
}

.team-member{
    background-color: #FFFFFF;
    width: 264px;
}


.name{
    margin-bottom: 8px;

    color:var(--dark-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;

}

.position{
    text-align: center;
}

.footer{
    background-color:var(--dark-color);
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-logo{
    display:inline-block;
    margin-bottom: 16px;

    color:var(--primary-brand-color);

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration:none;
}


.footer-studio{
    color: var(--light-color)
}

.footer-text{
    width: 264px;

    color: var(--light-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section{
    padding: 96px 0 120px;
}


.buttons{
    display:flex;
    gap: 24px;
    justify-content: center; 
    margin-bottom: 72px;
}
.buttons .item{
    margin-right: 24px;
}

.buttons .item:last-child{
    margin-right: 0;
}
.btn{
    border-radius: 4px;
    padding: 12px 24px;

    background-color: var(--light-color);
    color: var(--primary-brand-color);
    border: 1px solid #E7E9FC;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor:pointer;
}

.btn:hover, .btn:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.apps{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}
.card{
    border-bottom: 1px solid var(--accent-color);
}
.service{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.field{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
    column-gap: 24px;
    row-gap: 48px;
}

.work-list .item{
    width:calc((100% - 48px) / 3);
    
}

